---
import * as R from 'ramda';
import { getPublishedArticles } from '../lib/data';
import ContentLayout from "../layouts/ContentLayout.astro";
import ArticleGrid from '../components/ArticleGrid.astro';

import blackhole from '../assets/images/black-hole-circuit-wide.jpg'
const articles = R.take(4, await getPublishedArticles());
---

<ContentLayout title="Home">
	<div slot="hero"
		class="hero min-h-[75vh]"
		style={{"background-image": `url(${blackhole.src})`}} />

	<h3 class="text-xl font-semibold mb-8">Latest articles:</h3>
    <ArticleGrid articles={articles} />
</ContentLayout>
